.Center {
    text-align: center;
    margin: 0px 200px 0px 300px;
}

.Centerofpage{
    text-align: center;
    margin: 40px 200px 0px 300px
}

.CenterNoMargin {
    text-align: center;
}


.Left {
    text-align: left;
    padding: 20px;
}
  
.App-profile{
    text-align: right;
}
  
.App-sidebar{
    height: 15px;
    text-align: left;
    padding :5px;
}
 
.headerbar{
    position:fixed!important;z-index:1;overflow:auto
}
.App-header {
    background-color: rgb(247, 222, 0);
    text-align: left;
    height: 50px;
    padding: 10px;
    color: white;
}
  
.App-title {
    font-size: 1.5em;
}
  
.App-intro {
    font-size: large;
}


.w3-headerbar{height:100%;width:1000px;background-color:rgb(0, 0, 0);position:fixed!important;z-index:1;overflow:auto}
.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}

.w3-yellow,.w3-hover-yellow:hover{color:#000!important;background-color:#daa520!important}
.w3-goldenrod,.w3-hover-goldenrod:hover{color:#000!important;background-color:#daa520!important}
