.Center {
    text-align: center;
}

.column {
    float: right;
    width: 31.9%;
  }

.column-og {
    float: left;
    width: 25%;
}

/* .picture-border{
    border: 5px solid;
    border-color: rgb(218, 165, 32);
} */